
.log {
    width: 100%;
    padding: 10px 15px;
    margin: 20px;
}

body{
    background-image: url('https://etimg.etb2bimg.com/photo/90424361.cms');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
